/* Crearemos la paleta de colores usando la Custom Properties para crearla mediante una "variable" */
:root{
    --color-primario: #FFC107;
    --color-secundario: #0097A7;
    --Negro: #000000;
    --Blanco: #ffffff;
    --color-cuaternario: #ff0000;
    --color-quintario: #000000;

    /* tambien podemos crear fuentas para usar  */
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.Titulo{
    font-size: 3.8rem;
    color: var(--Negro);
    text-align: center;
    margin-top: 2rem;
    font-family: "Roboto Mono", monospace;
}

.Titulo span{
    color: #ff0000;
    font-size: 2rem;
}

/* Cambiar el tipo de fuente */


.Navegacion-principal{
    background-color: var(--color-secundario);
    padding: 1rem;
    display:flex;
    justify-content: space-between;
}

.Navegacion-principal a{
    color: var(--Blanco);
    text-decoration: none;
    font-weight: bold;
}

.Navegacion-principal a:hover{
    background-color: var(--color-primario);
    color: var(--Negro);
    border-radius: 5px;
}

/* @media (min-width:480px) {
    body{
        background-color:coral;
    }
} */

/* Crearemos esta clase de Contenedor para poder tener todo el documento centrado como lo estamos viendo en el ejemplo */
.Contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    /* esto nos permitira centrar el contenido, ya que al aplicar el margen automatico, lo que hace es que quede bastante parejo en cada lado.
    El codigo anterior lo podemos resumir en una sola linea de codigio ya que solamente con hacer lo siguiente podemos hacer el mismo efecto:

        margin: 0 auto 0 auto; (como podemos ver esta en orden de las manesillas del 
    reloj, arriba, derecha, abajo, izquierda.

    y para resumirlo aun mas podemos usar la siguiente linea y css ya sabrá como es que se aplica.

        margin: 0 auto;
    
        
    Debemos crear una clase de utilidad ya que esta de contenedor tiene un ancho definido y no ocupa todo el ancho de la pantalla como en el ejemplo, por lo tanto tienesque crear unaclase que envuelva esta seccion, para poder expandir por todala pantalla.

    */
}

.Nav-bg{
    background-color: var(--color-secundario);/*Como podemosnotar esto hace que el color se expanda entodo el ancho de la pantalla*/
}

