:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




/* Estilos personalizados para la dashboard */
/* Estilos personalizados para la dashboard con opacidad */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/index_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: 0.8; /* Cambia el valor para ajustar la opacidad */
  z-index: -1; /* Coloca esta capa detrás del contenido principal */
}



.titulo-resumen {
  text-align: center;
  color: #000; /* Color negro */
  font-weight: bold; /* Efecto de negrilla */}


.titulo_div{
  height: auto;
  width: auto;
  color: rgba(0, 0, 0, 0.8); /* Cambiado a un color negro casi transparente */
}

/* Estilo para el ícono dentro del h2 */
.titulo {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 24px; /* Tamaño del ícono */
  vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
  color: #000000; /* Color del ícono (puedes cambiarlo según tu preferencia) */
}



/* Añade una capa de color semi-transparente para oscurecer la imagen de fondo */


.overview h2,
.global-players h2,
.point-stats h2 {
  font-size: 24px;
  color: #333;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  margin-bottom: 0;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
}


/* Estilos para el contenido principal */
.main-content {
  padding-bottom: 100px; /* Añade espacio en la parte inferior igual a la altura del footer */
}

/* Estilos para el footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1%;
  background-color: #333; /* Cambia el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 10px 0; /* Ajusta el espaciado interno según tus preferencias */
  text-align: center;
}


table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #374643;
  color: white;
}



/* formulario */




.registration-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form-group label {
  margin-right: 10px;
}

.form-group a[type="radio"] {
  margin-right: 5px;
  text-decoration: none;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #145492;
}



*{
  margin: 0%;
}
/* Estilos para la barra de navegación */
body {
  background-color: #000;
  height: 100%;
}

.fijo {
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  position: fixed;
  top: 20px; /* Ajusta la posición vertical según tu preferencia */
  left: 20px; /* Ajusta la posición horizontal según tu preferencia */
  z-index: 5;
}

.barra_nav {
  background: rgb(202, 224, 222);
  height: 80px;
  width: 100%; /* Establecemos el ancho al 100% para ocupar todo el espacio disponible */
  border-radius: 30px;

}

.barra_nav a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #3b3131;
}

.barra_nav h1 {
  width: 15rem;
}

.inicio {
  display: inline-block;
  width: auto; /* Ajusta el ancho automáticamente para que se ajuste al contenido */
  margin-right: 10px; /* Puedes ajustar el margen derecho según tu preferencia */
  vertical-align: middle;
}

.inicio i {
  margin-right: 5px; /* Ajusta el margen derecho para separar los iconos del texto */
}

/* Estilos para el botón de cerrar sesión */
.barra_nav .btn-cerrar {
  border: none;
  outline: none;
  background: #ffffff;
  color: #000;
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 15px; /* Ajustamos el espacio dentro del botón */
  display: flex; /* Usamos flex para alinear elementos verticalmente */
  align-items: center; /* Centramos verticalmente los elementos */
  margin-right: 25%; /* Espacio entre el icono y el texto */
  width: 120px; /* Cambia el ancho del botón según tus preferencias */
}

.collapse {
  text-align: center;
  margin-right: 30%; /* Espacio entre el icono y el texto */
}

.barra_nav .btn-cerrar:hover {
  cursor: pointer;
  background: #803f3f;
  color: #000;
}


.contenido{
  color:#000000;
  margin-top: 10%;
  width: 100%;
}
.botones{
  margin-top: 10%;
  
}
.tablero{
  width: 100%;
  margin-bottom:5%;
  /*background-image: url(../img/table.jpeg);*/
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 900px;
}

.player {
  color: #ffffff;
}

.puntos{
  color: #ffffff;
}

.carta{
  width: 200px;
}

